# ─── API ───────────────────────────────────────────────────────────────────────
VITE_API_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com/dev

# ─── COGNITO ───────────────────────────────────────────────────────────────────
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
