# ─── DATABASE ──────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://cloudwave:CloudWave2025!@cloudwave-db-dev.cg5204yg6kn5.us-east-1.rds.amazonaws.com:5432/cloudwave

# ─── AWS ───────────────────────────────────────────────────────────────────────
AWS_REGION=us-east-1

# ─── COGNITO ───────────────────────────────────────────────────────────────────
COGNITO_USER_POOL_ID=us-east-1_ALrQWmdek
COGNITO_CLIENT_ID=2inog3ka1gctv321k3svtv0g9n

# ─── S3 ────────────────────────────────────────────────────────────────────────
S3_BUCKET=cloudwave-events-files-dev
CLOUDFRONT_URL=CLOUDFRONT_URL=https://dh5klvifbxbik.cloudfront.net

# ─── SES ───────────────────────────────────────────────────────────────────────
SES_FROM_EMAIL=supunseshan@gmail.com

# ─── STAGE ─────────────────────────────────────────────────────────────────────
STAGE=dev
